h2 {
  color: red;
}

.title {
  background-color: #000;
  color: aqua;
  padding: 15px;
}

p {
  padding: 5px;
}

.fundo-preto {
  display: flex;
  justify-content: right;
  background-color: #000;
}

.neon {
  font-size: 24;
  font-weight: 700px;
  text-decoration: none;
  display: inline-block;
  color: #f1b;
  margin: 2em;
  padding: 16px 64px;
  border: #f1b 4px solid;
  border-radius: 16px;
  box-shadow: inset 0 0 32px 0 #f1b, 0 0 32px 0 #f1b;
  position: relative;
}

.neon::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  background-color: #f1b;
  width: 100%;
  height: 100%;
  transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
  filter: blur(64px);
  opacity: 0.7;
  pointer-events: none;

}

.neon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 128px 32px #f1b;
  opacity: 0;
  background-color: #f1b;
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon:hover::after,
.neon:hover::before {
  opacity: 1;
}

.neon:hover {
  color: #fff;
  text-shadow: none;
  background-color: #f1b;

}
